* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento lateral */
}
body {
    font-family: Arial, sans-serif;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
    background-color: #fffafa;
    color: rgb(9, 9, 9);
}

@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    header {
        display: flex;
        flex-direction: column; /* Asegura que los elementos se acomoden en columna */
        align-items: flex-start; /* Alinea la logo a la izquierda */
        justify-content: flex-start;
        text-align: left;
        padding: 10px;
    }
    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin-left: 0; /* Evita margen innecesario */
    }

    .logo img {
        max-width: 50px; /* Ajusta el tamaño del logo en móvil */
        height: auto;
    }
    nav {
        width: 100%; /* Para que el menú ocupe todo el ancho */
        text-align: center;
        margin-top: 10px;
    }
    nav ul {
        width: 100%;
        justify-content: center;
    }

    nav ul li {
        margin: 10px 0;
    }


    nav ul li a {
        font-size: .8125rem;
        padding: 10px;
        display: block;
        width: 100%;
    }

    .hero {
        text-align: center;
        
    }

    .hero h1{
        font-size:  30px !important;
        padding-top: 20%;
        padding-bottom: 15px;
    }

    .hero p {
        font-size: .8125rem !important; 
        margin-bottom: 10px;
    }
    .beneficio-container {
        flex-direction: column; /* Coloca los elementos en una sola columna en móviles */
        align-items: center;
        gap: 5px;
    }

    .beneficio {
        width: 90%; /* Los elementos ocupan todo el ancho en móviles */
        max-width: 100%;
        padding: 8px 8px 8px !important;
    }

    .beneficio-container div:nth-child(2){
        padding-bottom: 10px !important;
    }
    .beneficio-container div:nth-child(3){
        padding-top: 20px !important;
    }


    .info p{
        font-size: 13px !important;
        text-align: justify;
    }

    .contacto input, .contacto textarea {
        width: 100%;
        margin-bottom: 15px;
    }

    .contacto button {
        width: 100%;
        padding: 15px;
    }


    .container{
        margin-top: 20% !important;
        width: 90% !important;
    }

    .title {
        font-size: 22px !important; /* Reducir el tamaño del título en móviles */
    }

    .container p{
        font-size: 16px;
    };
    .button {
        font-size: 10px;
        margin: 0%;
        padding: 0% !important;
    }

    .cards img, .cards2 img {
        width:  90% !important;/* Ajustar tamaño de la imagen */
        height: auto;
        margin: auto;
    }
}



/* Encabezado */
header {
    position: fixed;
    top: 0; /* Alinea el encabezado al borde superior */
    left: 0; /* Alinea el encabezado al borde izquierdo */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #fffafa;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(9, 9, 9);
    -webkit-box-shadow: 0px 10px 42px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 42px -23px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 42px -23px rgba(0,0,0,0.75);
}

.logo {
    font-size: 1.3em;
    font-weight: bold;
}

nav{
    width: 0%;
    justify-items: end;
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(9, 9, 9);
    text-decoration: none;
    font-weight: bold;
}

.nave, li a:hover{
    text-decoration: underline; 
    text-decoration-thickness: 2px; 
    
  }
.logo img{
    width: 35px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle; 
  }
  
.heroContenedor{
    background: linear-gradient(to left, #003e8f, #62eef6);
}
/* Hero */
.hero {
    text-align: center;
    padding-top: 22%;
    padding-bottom: 10%;
    color: white;
}
.hero h1{
    padding-bottom: 15px;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero p{
    padding-bottom: 13px;
    font-size: 1.125rem;
    font-weight: 500px;
}
.hero button {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px 8px 8px 8px;
}

.hero button:hover {
    background-color: #5ce0e6;
    color: black;
}

/* Secciones */
.info {
    line-height: 1.8;
    text-align: center;
    background-color: #fffafa;
    padding: 5% 15%;
}

.info h3{
    font-style: italic;
    font-weight: .625rem; 
    color: #003e8f;
}

.info p{
    margin-top: 35px;
    font-size: 1.125rem;
}

.beneficios {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.beneficio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Asegura que haya dos elementos por fila */
    gap: 40px;
    width: 100%;
    max-width: 900px;
    place-items: center; /* Centra los elementos dentro de cada celda del grid */
    text-align: center;
}

.beneficio {
    background: #f6f6f6;
    padding: 60px 20px 30px;
    border-radius: 5px;
    max-width: 250px;
    text-align: center;
    color: #003e8f;
}

.beneficio p:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.beneficio h4 {
    color: #003e8f;
    padding-bottom: 8px;
}

.beneficio p {
    line-height: 1.6;
}

.beneficio p:hover {
    color: #082c5c;
}

.beneficio img {
    background-color: #ffffff;
    width: 50px;
    border-radius: 50%;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%; /* Más ancho en pantallas pequeñas */
    margin: 8% auto;
    gap: 20px; /* Espacio entre elementos */
}

.reverse {
    flex-direction: row-reverse; /* Cambia el orden de las secciones en la segunda container */
}

.text-content,.text-content2 {
    width: 50%; /* Asegura que cada contenedor ocupe la mitad */
}

.text-content2 {
    text-align: right;
}

.title {
    color: #003e8f;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

#reverse {
    direction: rtl;
}

.button {
    display: inline-block;
    background-color: #62eef6;
    color: #000;
    font-weight: bold;
    padding: 4px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* Centrando las imágenes */
.cards, .cards2 {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 50%; /* Mantener el mismo ancho que el texto */
}

.cards img, .cards2 img {
    max-width: 350px;
    height: auto;
}

.contacto {
    text-align: center;
    padding: 50px;
    color: white;
    background: linear-gradient(to left, #003e8f, #62eef6);
}

.contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto input,
.contacto textarea {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.contacto button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s; 
    border-radius: 8px 8px 8px 8px;
}

.contacto button:hover {
    background-color: #5ce0e6;
    color: black;
}

/* Footer */
footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
}